DB_POSTGRESQL_HOST=127.0.0.1
DB_POSTGRESQL_PORT=5432
DB_POSTGRESQL_USER=p_user
DB_POSTGRESQL_PASSWORD=p_password
DB_POSTGRESQL_DATABASE=p_database
DB_MONGO_USER=m_user
DB_MONGO_PASSWORD=m_password
DB_MONGO_DATABASE=m_database
DB_MONGO_PORT=27017
DB_MONGO_HOST=127.0.0.1